<div>
  <input type="text" placeholder="Enter Your Appontment" [(ngModel)]="text">
  <input type="date" [(ngModel)]="date">
  <input type="time" [(ngModel)]="time">
  <button [disabled]="!text.trim().length" (click)="addAppo()">Add Appontment</button>
</div>

<div *ngFor="let appo of appointments; index as i">
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item" >{{appo.id}}</li>
    <li class="list-group-item" >{{appo.text}}</li>
    <li class="list-group-item" >{{ appo.date | date: 'dd-MM-yyyy' }}</li>
    <li class="list-group-item" >{{appo.time}}</li>
    <button (click)="removeAppo(i)">Delete</button>
  </ul>
</div>

